@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .container {
    width: 80% !important;
    margin: 0 auto;
  }
  .active {
    color: green !important;
    position: relative !important;
  }

  .active::after {
    content: "" !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: -10px !important;
    width: 70% !important;
    border-bottom: 5px solid green !important;
    border-radius: 20px;
  }

  select {
    flex: 0 1 135px;
  }

  .detail-name {
    font-size: 2rem !important;
  }
}

body {
  padding-top: 1rem;
  font-size: 20px;
  height: 100%;
}
